#send-button {
    animation-name: move;
    animation-duration: 0.2s
}

@keyframes move {
    from {
        transform: translateX(-3px);
        opacity: 0
    }
    to {
        transform: translateX(0);
        opacity: 0.5
    }
}

#search-input {
    background-color: var(--bs-gray-200)
}
#search-input:focus {
    background-color: #fff;
    box-shadow: 0 .125rem .5rem rgba(0,0,0,.075) !important
}